/* Style and Font imports
  ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "symbiota/variables.css?ver=1";



/************* CUSTOM STYLES *************
 * 
*************/

/*
0. NEON COLORS
1. GENERAL
2. LAYOUT
3. SPECIFIC SECTIONS
4. FORMS, BUTTONS
5. TABLES
6. ICONS
7. TABS
8. QUICK SEARCH PLUGIN
9. FOOTER
*/

/******* 0. NEON COLORS ********/

:root {
  --navy: #002c77;
  --blue: #0073cf;
  --skyblue: #8fcae7;
  --skybluelight: #c2deea;
  --brownblack: #352723;
  --browndark: #4b372e;
  --brown: #82542f;
  --greendark: #558807;
  --green: #acc37e;
  --greenlight: #c4daa1;
  --gold: #f0ab00;
  --goldlight: #ffcb4f;
  --red: #cc0000;
  --black: #000000;
  --white: #ffffff;
  --graydarkest: #565a5c;
  --graydarker: #7c7f80;
  --gray: #a2a4a3;
  --graylight: #d7d9d9;
  --graylightest: #e4e6e7;
  --graywhite: #f5f6f7;
  --alertgreen: #eef3e6;
  --alertgreenborder: #558807;
  --alertyellow: #fff5dc;
  --alertyellowborder: #f0ab00;
  --alertred: #f5cccc;
  --alertredborder: #cc0000;
}

/******* 1. GENERAL ********/

html {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
}

body {
  color: var(--black, black);
  margin-top: 0px;
}

h1,
h2,
h3,
h4 {
  color: var(--black, black);
}

/* Utilities */

.visually-hidden {
  display: none;
}

.ml-1 {
  margin-left: 0.5em;
}

.mr-1 {
  margin-right: 0.5em;
}

.mt-1 {
  margin-top: 0.5em;
}

/* Alerts */

.alerts {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 15px;
  pointer-events: none;
}

.alerts .alert {
  padding: 15px;
  border-radius: 4px;
  border: solid 1px var(--alertgreenborder);
  background-color: var(--alertgreen);
  color: var(--black, black);
  font-size: 14px;
  -webkit-transform: translateY(300px);
  transform: translateY(300px);
  pointer-events: all;
  margin-bottom: 10px;
  -webkit-animation: slide-in 1s ease-out forwards;
  animation: slide-in 1s ease-out forwards;
}

.alerts .alert > a {
  color: #002c77;
}

@-webkit-keyframes slide-in {
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes slide-in {
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/******* 2. LAYOUT ********/

@media (min-width: 1024px) {
  #top_navbar {
    margin-top: 10px;
  }
}

#top_navbar {
  clear: both;
  margin-left: auto;
  margin-right: 1rem;
  padding-right: 1rem;
  height: 0px;
}

#right_navbarlinks {
  clear: both;
  font-size: 11px;
  float: right;
  color: #000000;
  
}

.navpath {
  margin-left: 2rem;
  font-size: 12px;
  width: 75%;
}

#innertext{
  margin: 10px;
  padding-top: 15px;
}

#innertext img {
  max-width: 100%;
}

#middlecenter {
  padding: 0px;
}

.disclaimer span {
  font-weight: bold;
}

/* Manifest Viewer conteiner */

#samplePanel {
  font-size: 12px !important;
}

/* Large screens */

@media (min-width: 1024px) {
  #innertext {
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
    max-width: 1150px;
    width: 90%;
  }
  #popup-innertext {
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
    max-width: 1150px;
    width: 90%;
  }
  #home-left {
    max-width: 70%;
    float: left;
  }
  #home-right {
    max-width: 30%;
    float: right;
  }
  #img-container {
    width: 80%;
  }
  .hide-on-large {
    display: none;
  }
}

/* Medium screens */

@media (min-width: 426px) and (max-width: 1023px) {
  #innertext {
    max-width: 96%;
    margin: 0 auto;
  }
  #popup-innertext {
    max-width: 96%;
    margin: 0 auto;
  }
  #home-left {
    max-width: 60%;
    float: left;
    padding-left: 1rem;
  }
  #home-right {
    max-width: 40%;
    float: right;
  }
  #taxon-container {
    max-width: 75%;
  }
  .hide-on-large {
    display: none;
  }
}

/* Smaller screens */

@media (max-width: 425px) {
  #innertext {
    max-width: 95%;
  }
  #popup-innertext {
    max-width: 95%;
  }
  .hide-on-small {
    display: none;
  }
}

/******* 3. SPECIFIC SECTIONS ********/

.home-page section {
  margin: 3rem 0 1.5rem 0;
}

/*Main table framework*/

#maintable {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Checklists displayed with images */
.tndiv {
  font-size: 12px;
  line-height: 14px;
}

/* Main menu bar */

#hor_dropdown {
  display: inline-block;
  list-style: none;
  position: relative;
  text-align: left;
  max-width: 100%;
  margin: 0 auto;
}

#hor_dropdown li {
  position: relative;
  display: inherit;
  padding: 0;
  margin: 0;
}

#hor_dropdown a {
  display: block;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  font-size: 14px;
}

#hor_dropdown a:hover {
  background-color: #1b67b3;
  color: #ffffff;
  text-decoration: none;
}

/* Submenu */

#hor_dropdown ul {
  list-style: none;
  position: absolute;
  left: -9999px;
  top: -9999px;
  background-color: #1b67b3;
  z-index: 1000;
}

#hor_dropdown ul li {
  float: none;
}

#hor_dropdown ul a {
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
}

#hor_dropdown li:hover ul {
  left: 0;
  /* top: 3.5rem;
   */
  top: 42px;
  text-decoration: none;
  padding: 5px 0px;
  z-index: 1000;
}

#hor_dropdown li:hover ul a {
  padding: 5px;
  text-decoration: none;
  text-indent: 8px;
  padding-right: 8px;
  background-image: none;
  background-color: #1b67b3;
  z-index: 1000;
}

#hor_dropdown li:hover ul li a:hover {
  background: #1b67b3;
  text-decoration: underline;
}

.biorepo-home-icon {
  padding: 0 !important;
  /* display: inline-block; */
  background-image: url(../neon/images/home-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 14px;
  width: 14px;
}

/******* 4. FORMS, BUTTONS ********/

/* Forcing styles over jquery-ui (search forms) */

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: 'Inter', sans-serif !important;
}

button {
  background-color: var(--darkest-color);
  border: none;
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  margin: 0em;
  padding: 0.5rem 1rem;
  padding-block: 1px;
  padding-inline: 6px;
  color: #fff;
  font-family: var(--body-font-family);
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: normal;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: auto;
  text-rendering: auto;
  text-align: center;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  line-height: normal;
  box-sizing: border-box;  
}

button:hover {
  background-color: var(--medium-color);
  color: var(--light-color);
}

button:disabled {
  background-color: var(--light-color);
  color: var(--medium-color);
}

button.icon-button {
  margin: 2px 5px;
  padding: 6px;
  border-width: 1px;
  border-style: outset;
  border-color: buttonborder;
}

button.icon-button > svg {
  fill: var(--light-color);
}

button.icon-button:hover {
  background: var(--medium-color);
}

button.inverse-color {
    background-color: var(--light-color);
    color: var(--darkest-color);
}

.button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: var(--body-font-family);
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button > a {
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.button-primary {
  background-color: var(--darkest-color);
}

.button-danger {
  background-color: var(--danger-color, var(--darkest-color));
}

.button-primary:hover,
.button-secondary:hover,
.button-danger:hover 
{
  background-color: var(--medium-color);
}

.button-primary:disabled,
.button-secondary:disabled,
.button-danger:disabled
{
	opacity: 50%;
	pointer-events: none;
}

.button-primary:hover > a,
.button-secondary:hover > a {
  color: #fff;
}

.button-primary > a {
  color: #fff;
  font-family: var(--body-font-family);
}

.button-secondary {
  background-color: var(--bright-color);
  color: var(--darkest-color);
}

.button-secondary > a {
  color: var(--darkest-color);
}

.button-tertiary {
  background-color: transparent;
  border: 1px solid var(--bright-color);
  padding: 0.5rem 0.9rem;
}

body:not(.home-page) button,
body:not(.home-page) button.ui-button.ui-widget.ui-corner-all,
body:not(.home-page) input[type='submit' i] {
  font-family: 'Inter', sans-serif !important;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: white;
  border-style: none;
  border-color: #0073cf;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  background-color: #005dab;
  box-sizing: border-box;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 8px 16px;
  margin-bottom: 12px;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-property: background-color, box-shadow, border;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms, 0ms, 0ms;
}

button:hover {
  background-color: #0092e2 !important;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

input[type='text'],
input[type='number'],
textarea,
select {
  border: 1px solid #d0d0d0 !important;
  border-radius: 0;
  color: #333333;
}

input[type='text']:focus,
textarea:focus,
select:focus {
  border-radius: 0 !important;
}

button.ui-button.ui-widget.ui-corner-all:hover {
  background-color: #003d79;
  text-decoration: none;
}

button.ui-button:active {
  background: #000000;
}

/* Inverts color for svgs inside TinyMCE format buttons */
.tox-editor-container svg {
  filter: invert(1);
}
span.tox-tbtn__select-label {
  filter: invert(1);
}

/* Links inside buttons */

button > a {
  color: #ffffff !important;
}

button > a:hover {
  text-decoration: none !important;
}

/******* 5. TABLES ********/

table,
.ui-widget {
  font-family: 'Inter', sans-serif !important;
  font-size: 1em;
}

hr:first-of-type {
  margin-top: 1em;
}

/******* 6. ICONS ********/

.svg-icon {
  filter: invert(1);
}

#speclist button.icon-button img {
  filter: invert(1);
}

#omlisttable img {
  border: none !important;
}

/******* 7. TABS ********/

#tabs {
  height: auto;
}

/******* 8. QUICK SEARCH PLUGIN ********/

#quicksearchdiv {
  width: auto !important;
  padding: 0.75rem !important;
  margin: 1rem auto 4rem auto !important;
}

#quicksearchbutton {
  margin-left: 1rem !important;
  margin-bottom: 1rem !important;
  padding-bottom: 10px !important;
}

/* image thumbnails */
#img-container {
  width: 80%;
}

.tndiv {
  float: left;
  text-align: center;
  width: 165px;
  height: 230px;
  page-break-before: auto;
  page-break-inside: avoid;
}

.tnimg {
  position: relative;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border: 1px solid gray;
}

.tnimg img {
  position: absolute;
  max-height: 160px;
  max-width: 160px;
  width: expression(this.width >=this.height ? 160: true);
  height: expression(this.height >=this.width ? 160: true);
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

/* styled table */
table.styledtable {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

table.styledtable th {
  text-align: left;
  padding: 4px;
  border: 1px solid gray;
  background-color: #dbe5f1;
  color: black;
}

table.styledtable td {
  padding: 3px;
  border: 1px solid gray;
  background-color: #efefef;
}

table.styledtable tr.alt td {
  color: #000000;
  /*background-color:	#FCFCFC; */
  background-color: #dfdfdf;
}

/*
* OccurrenceSearchSupport
*/
.search-button-div {
  float: right;
  margin-top: 20px;
}
.sticky-buttons {
  position: sticky;
  top: 1rem;
  float: right;
}
.fieldset-like {
  position: relative;
  border: 0.2rem solid;
  border-top: none;
  margin: 2rem 0 1rem 1rem;
  padding: 0.8rem;
  padding-top: 1.5rem;
}

.fieldset-like h1,
.fieldset-like h2,
.fieldset-like h3 {
  margin: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fieldset-like h1 span,
.fieldset-like h2 span,
.fieldset-like h3 span {
  margin: 0 0.3rem;
}

.fieldset-like h1 span,
.fieldset-like h2:not(.subheader) span,
.fieldset-like h3:not(.subheader) span {
  transform: translateY(-50%);
}

.fieldset-like h1:before,
.fieldset-like h2:before,
.fieldset-like h3:before {
  border-top: 0.2rem solid;
  content: " ";
  width: 1.2rem;
}

.fieldset-like h1:after,
.fieldset-like h2:after,
.fieldset-like h3:after {
  border-top: 0.2rem solid;
  content: " ";
  flex-grow: 1;
}

/**
/* overriding jQuery UI CSS */
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget-content a {
  font-family: var(--body-font-family);
}

#maps.ui-widget-content button a {
  color: #fff;
  text-decoration: none;
}

#maps.ui-widget-content button:hover a {
  color: #000;
}

#innertext #tabs {
  max-width: 100%;
}

#tabs {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
}

#tabs div:first-child {
}

#tabs a {
  color: var(--darkest-color);
  transition: all 0.2s ease-in-out;
}

#tabs a:hover {
  color: var(--bright-color);
}

/* Media queries
========================================================================== */
/* Medium screens and up */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* header, breadcrumbs, main, footer */
  }
}

/* Medium-large screens only */
@media screen and (min-width: 1024px) {
  #innertext {
    width: 90%;
    max-width: var(--max-innertext-width);
  }
}

/* Huge screens only */
@media screen and (min-width: 2560px) {
  .text-huge {
    font-size: 5rem;
    font-family: var(--title-font-family);
    margin: 0;
  }

  .text-big {
    font-size: 2.5rem;
  }
}
/* -------------------- */

