/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/jonathan-borba-Ui73wdp0wok-unsplash.jpg");
  --header-bg-color: #2f6e5378; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 1.5rem;
  --title-font-family: 'Inter', sans-serif;
  --logo-width: 120px;
  --menu-top-bg-color: #1b3d2f;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: 'Inter', sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: 'Inter', sans-serif;
  --link-color: #0073cf;
  --darkest-color: #004986;
  --medium-color: #0073cf;
  --light-color: #fff;
  --bright-color: #0073cf;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
